<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="s.o.s">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="S.O.S"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>                <category android:name="android.intent.category.LAUNCHER" />

        </activity>
        <activity
            android:name=".WebActivity"
            android:label="S.O.S">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".TicketsActivity"
            android:label="S.O.S"/>
        <activity
            android:name=".NewNote"
            android:label="@string/title_activity_new_note"/>
        <activity
            android:name=".ENote"
            android:label="@string/title_activity_e_note"/>
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_e_note"/>
        <activity
            android:name=".BrowserActivity"
            android:label="Web Browser"
            />

    </application>


</manifest>